div.block-edit-form {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    p{
        margin-bottom: 0px;
        margin-right: 5px;
    }
    .form-group {
        width: 75px;
        margin-right: 5px;
        margin-bottom: 0px;
            
    }
}