div.map-component {
    opacity: 1;
    transition: opacity ease-in 0.3s;
    &.hidden {
        opacity: 0;
    }
}
.token-container {
    position: absolute;
    cursor: pointer;
    img {
        width: 100%;
        &.token-control {
            display: block;
            margin-top: 5px;
            width: 20px;
            &.delete {
                margin-left: auto;
            }
        }
    }
    &.tiny {
        width: 30px;
    }
    &.small {
        width: 60px;
    }
    &.medium {
        width: 90px;
    }
    &.large {
        width: 110px;
    }
    &.huge {
        width: 130px;
    }
    &.gargantuan {
        width: 200px;
    }
}
div.map-info {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2000;
    padding: 10px 20px 5px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.651);
}

div.map-panzoom-control {
    position: fixed;
    z-index: 1002;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    &.locked {
        background-image: url('../../assets/img/lock-white.png');
    }
    &.unlocked {
        background-image: url('../../assets/img/unlock-white.png');
    }

}
div.block-edit-container {
    display: block;
    position: fixed;
    right: 80px;
    bottom: 10px;
    padding: 5px;
    z-index: 1002;
    @media (min-width: 400px) {
        font-size: 12px;
    }
    background-color: rgba(0, 0, 0, 0.452);
    div.block-edit-form {
        padding-top: 5px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        
        p{
            margin-bottom: 0px;
            margin-right: 5px;
        }
        .form-group {
            display: flex;
            align-items: center;
            width: 100px;
            margin-right: 5px;
            margin-bottom: 0px;
            input {
                padding: 2px;
                margin-left: 3px; 
                font-size: 12px;

            } 
        }
        button {
            font-size: 12px;
            padding: 2px 5px;
        }
    }
}

div.map-container {
    overflow: hidden;
    height: 100vh;
    #mapImg {
        transition: opacity ease-in 0.5s;
        opacity: 1;
        &.hidden {
            opacity: 0;
        }
    }

}

div.block-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    div.block {
        z-index: 1001;
        position: absolute;
        background-color: black;
        border: 1px dashed rgb(49, 49, 49);
        @media (min-width: 800px) {
            backdrop-filter: blur(30px);
            background-color: rgba(0, 0, 0, 0.80);
            &.hidden {
                background-color: black;
                border: none;
            }
        }

        img.block-control {
            cursor: pointer;
            position: absolute;
            width: 20px;

            &.delete{
                right: 5px;
                top: 5px;
            }
            &.edit{
                left: 5px;
                top: 5px;
            }

        }
    }
}

div.zoom-controls {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: black;
    span {
        margin: 0px 10px;
    }
}

#scene {
    transition: opacity ease-in 0.5s;
    opacity: 1;
    &.hidden {
        opacity: 0;
    }
}