<div class="map-component">
  <div *ngIf="currentMap?.name" class="map-info">
    <h3 *ngIf="currentMap?.name">{{currentMap.name}}</h3>
    <p *ngIf="currentMap?.description">{{currentMap.description}}</p>
  </div>
  <div *ngIf='(user|async)?.uid' (click)="togglePanzoom()" [ngClass]="panZoomPaused ? 'locked' : 'unlocked'" class="map-panzoom-control"></div>
  <div *ngIf="editingBlock" class="block-edit-container">
    <div class="block-edit-form">
      <div class="form-group">
        <label>X: </label>
          <input [(ngModel)]="blockToEdit.width" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Y: </label>

          <input [(ngModel)]="blockToEdit.height" type="number" class="form-control">
      </div>
      <button class="btn btn-info" (click)="updateBlock(blockToEdit)">Save</button>    
    </div>
  </div>
  <div class="map-container">
      <div  id="scene" [ngClass]="mapLoaded ? '' : 'hidden'" #scene>
        <div  class="block-layer">
          <div 
          *ngFor="let block of currentBlocks; index as i" 
          class="block" 
          [ngClass]="!(user|async)?.uid ? 'hidden' : ''"
          style="{{block.position}}; height: {{block.height}}px; width: {{block.width}}px"
          cdkDrag 
          [cdkDragDisabled]="!panZoomPaused || user === null" 
          (cdkDragEnded)="updateBlockPosition(i, $event)" 
          >
            <img 
            *ngIf="(user|async)?.uid" 
            (click)="editBlock(i)" 
            class="block-control edit" 
            src="../../assets/img/edit-icon-white.png"
            >
            <img 
            *ngIf="(user|async)?.uid" 
            (click)="deleteBlock(i)" 
            class="block-control delete" 
            src="../../assets/img/remove-icon-red.png"
            >
          </div>
        </div>
        <div 
          style="{{token.position}}" 
          *ngFor="let token of currentTokens; index as i" 
          class="token-container {{token.size}}"       cdkDrag 
          [cdkDragDisabled]="!panZoomPaused || user === null" 
          (cdkDragEnded)="updateTokenPosition(i, $event)" 
        >
        <img 
          data-toggle="tooltip" 
          data-placement="right" 
          title="{{token.name}}
{{token.description}}" 
          class="token-img" 
          src="{{token.url}}">
        <img 
          *ngIf="(user|async)?.uid" 
          (click)="deleteMapToken(i)" 
          class="token-control delete" 
          src="../../assets/img/remove-icon-red.png">
        </div>
        <img #mapImg id="mapImg" (loaded)="isLoaded()" [ngClass]="mapLoaded ? '' : 'hidden'" *ngIf="currentMap" class="current-map" src={{currentMap.url}}>
      </div>
    </div>
</div>
