.token-container {
    width: 90px;
    position: absolute;
    cursor: pointer;
    img {
        max-width: 100%;
        &.token-control {
            display: block;
            margin-top: 5px;
            width: 20px;
            &.delete {
                margin-left: auto;
            }
        }
    }
    &.tiny {
        width: 30px;
    }
    &.small {
        width: 60px;
    }
    &.medium {
        width: 90px;
    }
    &.large {
        width: 110px;
    }
    &.huge {
        width: 130px;
    }
    &.gargantuan {
        width: 200px;
    }
}

div.map-container {
    overflow: hidden;
    height: 100vh;
}

div.zoom-controls {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: black;
    span {
        margin: 0px 10px;
    }
}