<div (keydown)="onKeyDownEvent($event)" class="map-container">
    <div id="scene" #scene>
      <img class="token ghast" cdkDrag [cdkDragDisabled]="!panZoomPaused" src="./../../assets/Ghast.jpeg">
        <img *ngIf="currentMap" class="current-map" src={{currentMap.url}}>
    </div>
  </div>
<!-- <div class="zoom-controls">
  <button class="btn btn-info" (click)="zoomToggle(false)">-</button>
  <span>{{currentZoomLevel * 100}}%</span>
  <button class="btn btn-info" (click)="zoomToggle(true)">+</button>
</div> -->
