<div *ngIf='(user|async)?.uid' id="admin-sidebar">
  <div class="admin-list">
    <h2>Admin</h2>
    <h4>Maps</h4><img class="add-map-icon" (click)="openModal();addMap()" src="../../assets/img/add-icon-success.png">
    <ul class="map-list">
      <li *ngFor="let map of maps">
        <img (click)="setCurrentMap(map)" src="../../assets/img/home-icon-white.png" [class.current-map]="map.current">
        <a>{{map.title}}</a>
        <img (click)="editMap(map);openModal()" src="../../assets/img/edit-icon-white.png">
        <img (click)="removeMap(map)" src="../../assets/img/remove-icon-red.png">
      </li>
    </ul>
    <br/>
  </div>
  <div class="admin-list">
    <h4>Tokens</h4>
    <img class="add-map-icon" (click)="openModal();addToken()" src="../../assets/img/add-icon-success.png">
    <ul class="token-list">
      <li *ngFor="let token of tokens">
        <img (click)="addTokenToCurrentMap(token)" class="token-preview" src="{{token.url}}">
        <a>{{token.name}}</a>    
        <img (click)="editToken(token);openModal()" src="../../assets/img/edit-icon-white.png">
        <img (click)="removeToken(token)" src="../../assets/img/remove-icon-red.png">
      </li>
    </ul>
    <br>
    <a class="option" (click)="logOut()">Log Out</a>
  </div>
</div>
<div class="block-add-button">
  <img (click)="openModal();addBlock()" alt="Add FOW Block"  src="../../assets/img/add-icon-success.png">
</div>
<div class="modal">
  <div  class="close"><img (click)="closeModal()" src="../../assets/img/close-icon-white.png"  alt="close modal"></div>
  <div *ngIf="addingMap">
    <map-upload></map-upload>
  </div>
  <div *ngIf="addingToken">
    <token-upload></token-upload>
  </div>
  <div *ngIf="editingMap">
    <app-map-edit [mapToEdit]="mapToEdit"></app-map-edit>
  </div>
  <div *ngIf="editingToken">
    <app-token-edit [tokenToEdit]="tokenToEdit"></app-token-edit>
  </div>
  <div *ngIf="addingBlock">
    <app-block-add [currentMap]='currentMap'></app-block-add>
  </div>
</div>
<div id="modal-bg" (click)="closeModal()"></div>
<div *ngIf='(user|async)?.uid' (click)="togglePanel()" class="admin-toggle"><img src="../../assets/img/gear.png" alt="open admin panel"></div>