
<div class="token-upload">
  <h2 class="heading">Add Token</h2>
  <!-- <div *ngIf="token">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
    </div>
    Progress: {{upload?.progress}}% Complete
  </div> -->
  <div class="form-group">
    <input type="file" (change)="handleFiles($event)" class="form-control">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input #newTitle type="text" placeholder="Title..." class="form-control">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea #newDescription placeholder="Title..." class="form-control"></textarea>
  </div>
  
  <div class="form-group">
    <label>Size</label>
    <select #newSize class="form-control">
      <option value="tiny">Tiny</option>
      <option value="small">Small</option>
      <option selected value="medium">Medium</option>
      <option value="large">Large</option>
      <option value="huge">Huge</option>
      <option value="gargantuan">Gargantuan</option>
    </select>
  </div>
  
  <div class="form-group">
    <label>Is Player</label>
    <select #newIsPlayer class="form-control">
      <option selected value="false">False</option>
      <option value="true">True</option>
    </select>
  </div>
  
  <button class="btn btn-primary" (click)="uploadFiles(newTitle.value, newDescription.value, newSize.value, newIsPlayer.value)">Upload Selected Image</button>
</div>

