

<h2 class="heading">Add Token</h2>
<div *ngIf="token">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
  </div>
  Progress: {{upload?.progress}}% Complete
</div>
<div class="form-group">
  <input type="file" (change)="handleFiles($event)" class="form-control">
</div>
<div class="form-group">
  <label>Title</label>
  <input #newTitle type="text" placeholder="Title..." class="form-control">
</div>
<div class="form-group">
  <label>Description</label>
  <textarea #newDescription placeholder="Title..." class="form-control"></textarea>
</div>

<div class="form-group">
  <label>Size</label>
  <select #newSize class="form-control">
    <option value="tiny">Tiny</option>
    <option value="small">Small</option>
    <option selected value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="huge">Huge</option>
    <option value="gargantuan">Gargantuan</option>
  </select>
</div>

<button class="btn btn-primary" (click)="uploadFiles(newTitle.value, newDescription.value, newSize.value)">Upload Selected Image</button>
 
<!-- <div class="gallery-upload">
  <h3>Add Tokens</h3>
  <div class="dropzone" 
       dropzone
       (hovered)="toggleHover($event)"
       (dropped)="onDrop($event)"
       [class.hovering]="isHovering">
         <p>Drag and Drop Files</p>
       <div class="file">
          <input class="file-input" accept=".png,.jpg,.jpeg,.gif" type="file" multiple="multiple" (change)="onDrop($event.target.files)">
        </div>
  </div>
  <div class="upload-errors">
    <p *ngFor="let error of errors; let i = index">{{errors[i]}}</p>
  
  </div>
  
  <div class="upload-task-list" *ngFor="let upload of uploads">
    <token-upload-task [basePath]="basePath" [upload]="upload"></token-upload-task>
  </div>
</div> -->
