
<div class="token-upload">
  <h2 class="heading">Add Token</h2>
  <!-- <div *ngIf="token">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
    </div>
    Progress: {{upload?.progress}}% Complete
  </div> -->
  <div class="form-group">
    <input type="file" (change)="handleFiles($event)" class="form-control">
  </div>
  <div class="form-group">
    <input #newTitle type="text" placeholder="Title" class="form-control">
  </div>
  <div class="form-group">
    <textarea #newDescription placeholder="Description" class="form-control"></textarea>
  </div>
  
  <div class="form-group">
    <label>Size</label>
    <input type="range" min="10" max="500" value="50" #newSize [(ngModel)]="range">
    <p>{{range}}</p>
  </div>
  
  <div class="form-group">
    <label>Is Player</label>
    <select #newIsPlayer class="form-control">
      <option selected value="false">False</option>
      <option value="true">True</option>
    </select>
  </div>
  
  <button class="btn btn-primary" (click)="uploadFiles(newTitle.value, newDescription.value, newSize.value, newIsPlayer.value)">Upload Selected Image</button>
</div>

