div.gallery-upload {
  h3 {
    color: white;
  }
  .dropzone { 
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; 
      min-width: 100%;
      font-weight: 200;
      height: 300px;
      border: 2px dashed white;
      border-radius: 5px;
      background: black;
      margin: 10px 0;
    
      &.hovering {
          border: 2px solid #f16624;
          color: #dadada !important;
      }
    
      h3 {
        font-size: 20px
        }
        div.file input.file-input {
            font-size: 10px;
            margin: 0 auto;
            display: block;
            word-break: break-all;
        }
        
        @media screen and (min-width: 500px) {
            h3 {
                font-size: 24px;
            }
        }

        @media screen and (min-width: 650px) {
            div.file input.file-input {
                font-size: 14px;
            }
        }
    }
    
    progress::-webkit-progress-value {
      transition: width 0.1s ease;
    }
}
